@charset "utf-8";
/* CSS Document */

body {
	padding: 0 3%;
	}
h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 1rem 0;
	}
p{
	margin: 0 0 .5rem 0;
	}

.anim{
	background:#00752D;
	width: 700px;
	height: 500px;	
	
	float: left;
	margin: 0 1rem 1rem 0;
	overflow: hidden;
}

.anim__headline{
	color:rgb(255, 255, 255);
	font-family: 'Oswald', sans-serif;
	font-size: 1.4rem;
	position: relative;
	top: -30px;
	left: 180px;
	opacity:1;
	animation: h2-stuff 9s 0s forwards;
}

.anim__headline2{
	color:rgb(255, 255, 255);
	font-family: 'Oswald', sans-serif;
	font-size: 1.2rem;
	position: relative;
	top: -5px;
	left: 30px;
	opacity:1;
	animation: h2-stuff2 30s 15s forwards;
}




@keyframes h2-stuff{
	0%{
		top:-200px;
		opacity:1;
	}
	10%{
		top:-200px;
		opacity:1;
	}
	30%{
		top:150px;
		opacity:1;
	}
	100%{
		top: 155px;
		opacity:0;
	}
}

@keyframes h2-stuff2{
	0%{
		top:-200px;
		opacity:1;
	}
	
	100%{
		top: -200px;
		opacity:1;
	}
}
.anim__roomba{
	
	position: relative;
	top: 100px;
	left: -300px;
	animation: roomba-anim 16s ease 1s forwards;
}

.anim__logo{
	position: relative;
	top: 100px;
	left: -700px;
	animation: logo-anim 2s ease 10s forwards;
}
@keyframes roomba-anim{
	0%{
		top:100px;
		left:-300px;
	}
	15%{
		top:-400px;
		left:-200px;
		transform:rotate(0deg)
	}
	40%{
		top:0px;
		left:200px;
		
	}
	50%{
		top:100px;
		left:300px;
		transform:rotate(-60deg)
	}
	100%{
		top:300px;
		left:300px;
		transform:rotate(40deg)
	}


}

@keyframes logo-anim{
	0%{
		top:100px;
		left:-300px;
	}
	50%{
		top:100px;
		left:100px;
	
	}

	100%{
		top:100px;
		left:-3px;
		
	}

}